[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/fuzzy_finder"]
	path = bundle/fuzzy_finder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/large_file"]
	path = bundle/large_file
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim_addon_mw_utils"]
	path = bundle/vim_addon_mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
[submodule "bundle/largefile"]
	path = bundle/largefile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
